Repository abarrows/template-nextjs-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, docker, documentation, javascript, npm, devops

.github/labeler.yml:

dependencies:
  - yarn.lock

docker:
  - .dockerignore
  - Dockerfile
  - docker-compose.yml

documentation:
  - '**/*.md'

javascript:
  - '**/*.js'
  - '**/*.jsx'
  - '**/*.ts'
  - '**/*.tsx'

npm:
  - yarn.lock

devops:
  - '.github/**'
  - 'deployments/**'
  - '*keyvaults.sh'
  - 'Create-KeyVaults.ps1.gpg'

use newer version
  .github/workflows/codeowners-validation.yml
  .github/workflows/pull-request-bypass.yml
  .github/workflows/pull-request.yml
Labels: devops

added vars needed in DockerFile
  docker-compose.yml
Labels: docker

changed keyvaults file to json file
  .gitignore
Labels: none

replacing key vault mgmt files
  Create-KeyVaults.ps1.gpg
  KeyVaults-example.json
  Manage-KeyVaultsFile.ps1
  decryptkeyvaults.sh
  encryptkeyvaults.sh
Labels: devops

adding setup cmds to package.json
  package.json
Labels: none

updated Key Vaults script notes
  README.md
Labels: documentation

Apply prettier changes
  KeyVaults-example.json
  README.md
Labels: documentation

updated key vault names in example
  KeyVaults-example.json
Labels: none

added new key vaults script
  Create-KeyVaults.ps1
Labels: none

ignore all other env files that aren't example
  .gitignore
Labels: none

reverting env* gitignore statement
  .gitignore
Labels: none

Update docker-compose.yml
  docker-compose.yml
Labels: docker

Update KeyVaults-example.json
  KeyVaults-example.json
Labels: none

updated devops yarn scripts
  README.md
  package.json
Labels: documentation

fixed typo in readme
  README.md
Labels: documentation

fixed typo in var name
  docker-compose.yml
Labels: docker

updated DevOps script refs
  .dockerignore
Labels: docker

updating encrypt/decrypt file extension
  Manage-KeyVaultsFile.ps1
Labels: none

updated keyvaults
  KeyVaults-example.json
Labels: none

added build args
  docker-compose.yml
Labels: docker

added next.js .env file usage back in
  README.md
Labels: documentation

renaming secrets scripts
  Get-Secrets.ps1
  Manage-SecretsFile.ps1
  README.md
  Secrets-example.json
  Set-Secrets.ps1
Labels: documentation

renaming keyvaults json
  Manage-SecretsFile.ps1
Labels: none

fixing manage secrets file
  Manage-SecretsFile.ps1
Labels: none

HOTFIX-change-secrets-file-in-gitignore
  .gitignore
Labels: none
