Repository abarrows/template-nextjs-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, front-end, back-end, tools, tests, devops

Update Dockerfile
  Dockerfile
Labels: front-end, back-end, devops

ci: configure release drafter to use release.yml config file
  .github/workflows/release-drafter.yml
Labels: front-end, back-end, devops

chore: simplify release-drafter workflow by removing workflow_dispatch and PAT requirements
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
Labels: front-end, back-end, devops

chore: enhance release-drafter config with autolabeling and version resolution rules
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
Labels: front-end, back-end, devops

refactor: simplify Dependabot workflow to auto-merge only patch updates
  .github/workflows/dependabot.yml
Labels: front-end, back-end, devops

ci: add reopened PR type to dependabot workflow trigger
  .github/workflows/dependabot.yml
Labels: front-end, back-end, devops

ci: simplify PR performance audit workflow triggers and naming
  .github/workflows/performance.yml
Labels: front-end, back-end, devops

feature/WR-15924/test-jira-lint (#33)
  .github/release-drafter.yml
  .github/release.yml
  .github/workflows/bump-versions.yml
  .github/workflows/dependabot.yml
  .github/workflows/performance.yml
  .github/workflows/release-drafter.yml
  Dockerfile
  package.json
Labels: dependencies, front-end, back-end, devops

ci: simplify PR workflow by removing labels and using standard GitHub token
  .github/workflows/pr-checks.yml
  .github/workflows/pr-labels.yml
Labels: front-end, back-end, devops

ci: add pull request triggers for mega-linter workflow
  .github/workflows/mega-linter.yml
Labels: front-end, back-end, devops

ci: refactor Lighthouse performance workflow with explicit PR triggers and simplified config
  .github/workflows/performance.yml
  budget.json
Labels: front-end, back-end, devops

ci: add Lighthouse budget checks and continue-on-error for performance workflow
  .github/workflows/performance.yml
  budget.json
Labels: front-end, back-end, devops

chore: update package-lock.json dependencies
  package-lock.json
Labels: dependencies, front-end, back-end

Adding consola examples.
  package-lock.json
  package.json
  src/app/global-error.jsx
  src/components/sections/WelcomeUser/WelcomeUser.jsx
  src/helpers/utilities/consoleLogger/consoleLogger.js
Labels: dependencies, front-end, back-end

Stylelint passes now.
  stylelint.config.js
Labels: front-end, back-end

simplifying the jira-lint step.
  .github/workflows/jira-lint.yml
Labels: front-end, back-end, devops

ci: remove conditional check for comment body in Jira linter workflow
  .github/workflows/jira-lint.yml
Labels: front-end, back-end, devops

feature/WR-XXXX/update-github-action-versions (#35)
  .github/workflows/bump-versions.yml
  .github/workflows/deployment.yml
  .github/workflows/jira-lint.yml
  .github/workflows/mega-linter.yml
  .github/workflows/pr-checks.yml
  .github/workflows/pr-labels.yml
  .github/workflows/release-drafter.yml
  .github/workflows/storybook.yml
  .github/workflows/template-sync.yml
  .windsurf/workflows/pull-request-create-autofill.md
Labels: documentation, front-end, back-end, devops

.github/labeler.yml:

dependencies:
  - package-lock.json
  - package.json
  - "**/package-lock.json"
  - "**/*.csproj"

documentation:
  - "**/*.md"

front-end:
  - "**/*.js"
  - "**/*.js.html"
  - "**/*.json"
  - "**/*.jsx"
  - "**/*.ts"
  - "**/*.tsx"
  - "**/*.html"
  - "**/*.css"
  - "**/*.less"
  - "**/*.scss"
  - "**/*.sass"
  - "**/*.otf"
  - "**/*.eot"
  - "**/*.ttf"
  - "**/*.woff*"
  - "**/*.svg"
  - "**/*.jpg"
  - "**/*.jpeg"
  - "**/*.gif"
  - "**/*.png"
  - "**/*.ico"
  - "public/**"
  - "src/**"
  - .storybook/**
  - package.json
  - wp-content/
  - "!**/Secrets.json*"
  - "!/.vscode"
  - "!**/*.test.js"
  - "!.github/**"

back-end:
  - "**/*.cs"
  - "**/*.csproj"
  - "**/*.sln"
  - "**/**.json"
  - "bin/"
  - "**/*.rb"
  - "Rakefile"
  - "**/*.yml"
  - "**/*.ru"
  - "!**/Secrets.json*"
  - "!.github/**"

tools:
  - "/.vscode"
  - "/.devcontainer"

tests:
  - "playwright/**"
  - "**/.spec.*"
  - "**/*.test.js"
  - ".github/workflows/workflow-linter.yaml"
  - ".github/actionlint.yaml"

devops:
  - ".github/**"
  - "deployments/**"
  - "Secrets.json*"
  - "docker-compose.yml"
  - "Dockerfile"
  - ".*ignore"

# Add 'hotfix' label to any PR that is opened against the `release/*` branch
hotfix:
  - base-branch: "^release/"

breaking-change:
  - head-branch: "^breaking"

story:
  - head-branch: ["^feature", "^story", "^improvement"]

bugfix:
  - head-branch: "^bugfix"

research:
  - head-branch: "^research"

maintenance:
  - head-branch: "^maintenance"

# Add 'release' label to any PR that is opened against the `main` branch
release:
  - head-branch: "^release"
