Repository abarrows/template-nextjs-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, docker, documentation, javascript, npm, tools, test-integration, devops

.github/labeler.yml:

dependencies:
  - yarn.lock
  - package.json

docker:
  - .dockerignore
  - Dockerfile
  - docker-compose.yml

documentation:
  - '**/*.md'

javascript:
  - '**/*.js'
  - '**/*.js.html'
  - '**/*.json'
  - '**/*.jsx'
  - '**/*.ts'
  - '**/*.tsx'
  - '!**/Secrets.json*'
  - '!/.vscode'
  - '!**/*.test.js'

npm:
  - yarn.lock
  - package.json

tools:
  - '/.vscode'
  - '/.devcontainer'

test-integration:
  - 'playwright/**'
  - '**/.spec.*'
  - '**/*.test.js'

devops:
  - '.github/**'
  - 'deployments/**'
  - '*.ps1'
  - 'Secrets.json*'
  - 'docker-compose.yml'
  - 'Dockerfile'
  - '.*ignore'

syncing with codex_ui
  .github/actions/use-build-args-cache/action.yml
  .github/actions/use-build-cache/action.yml
  .github/actions/use-install-cache/action.yml
  .github/workflows/application-ci.yml
  .github/workflows/pr-clean-caches.yml
  .gitignore
  README.md
Labels: documentation, javascript, devops

🔄 Sync with @Andrews-McMeel-Universal/k8sapp_template (#47)
  .dockerignore
  .eslintrc.js
  .prettierrc.json
  README.md
  package.json
Labels: dependencies, docker, documentation, javascript, npm, devops

syncing with codex_ui
  .dockerignore
  .env.development
  .env.production
  .github/dependabot.yml
  Dockerfile
  README.md
  deployments/charts/values.yaml
  docker-compose.yml
  package.json
Labels: dependencies, docker, documentation, javascript, npm, devops

syncing with other template repos
  .github/actions/use-build-args-cache/action.yml
  .github/dependabot.yml
  .github/workflows/bump-versions.yml
  .github/workflows/dependabot-automations.yml
  .github/workflows/pr-checks.yml
  .github/workflows/template-sync.yml
  .gitignore
  .prettierignore
  README.md
  deployments/charts/values.yaml
Labels: documentation, javascript, devops

bump workflows to v2.2.5
  .github/workflows/aks-deployment.yml
  .github/workflows/bump-versions.yml
  .github/workflows/dependabot-automations.yml
  .github/workflows/pr-checks.yml
  .github/workflows/pr-clean-caches.yml
  deployments/charts/values.yaml
Labels: javascript, devops

removing unnecessary environmentKeyVault
  .github/workflows/aks-deployment.yml
Labels: javascript, devops

HOTFIX-removing-cypress-from-install-cache-action
  .github/actions/use-install-cache/action.yml
Labels: javascript, devops

🔄 Sync with @Andrews-McMeel-Universal/k8sapp_template (#55)
  .github/dependabot.yml
  .github/workflows/bump-versions.yml
  deployments/charts/values.yaml
Labels: javascript, devops
