Repository abarrows/template-nextjs-ui, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, front-end, back-end, tools, tests, devops

ci: enable auto-merge for dependabot PRs and upgrade checkout action to v4
  .github/dependabot.yml
  .github/workflows/dependabot-automations.yml
  playwright.config.js
Labels: front-end, back-end, devops

feat: enhance dependabot automation with comprehensive PR handling and security checks
  .github/dependabot.yml
  .github/workflows/dependabot-automations.yml
Labels: front-end, back-end, devops

docs: add workflow for auto-generating pull request details via GitHub CLI
  .windsurf/workflows/pull-request-create-autofill.md
Labels: documentation, front-end, back-end

ci: update Lighthouse CI with automated report commits and workflow dispatch trigger
  .github/workflows/performance.yml
Labels: front-end, back-end, devops

chore: update package-lock.json dependencies
  package-lock.json
Labels: dependencies, front-end, back-end

chore: remove taib-rs from default PR reviewers list
  .windsurf/workflows/pull-request-create-autofill.md
Labels: documentation, front-end, back-end

chore: update PR workflow base branch from develop to main
  .windsurf/workflows/pull-request-create-autofill.md
Labels: documentation, front-end, back-end

feature/ACB-DEVEX/npm-based (#18)
  .github/dependabot.yml
  .github/workflows/dependabot-automations.yml
  .github/workflows/performance.yml
  .github/workflows/pr-checks.yml
  .windsurf/workflows/pull-request-create-autofill.md
  package.json
Labels: dependencies, documentation, front-end, back-end, devops

feature/ACB-DEVEX/npm-based (#18)
  .github/dependabot.yml
  .github/workflows/dependabot-automations.yml
  .github/workflows/performance.yml
  .github/workflows/pr-checks.yml
  .windsurf/workflows/pull-request-create-autofill.md
  package.json
Labels: dependencies, documentation, front-end, back-end, devops

feature/ACB-XXXX/security-agnostifying-application-and-adding-workflows (#15)
  package.json
Labels: dependencies, front-end, back-end

feature(dependabot): Adding Dependabot configuration file
  .github/workflows/dependabot-automations.yml
  .github/workflows/dependabot.yml
Labels: front-end, back-end, devops

feature(dependabot): Removing broken version
  .github/workflows/dependabot.yml
Labels: front-end, back-end, devops

Replacing env variables reserved from IE: GITHUB_ORGANIZATION is now ORGANIZATION_NAME
  .env.example
  .github/CODEOWNERS
  .github/workflows/pr-checks.yml
  .github/workflows/template-sync.yml
  README.md
Labels: documentation, front-end, back-end, devops

fix: replace hardcoded user values with dynamic repository variables in GitHub workflows
  .github/workflows/jira-lint.yml
  .github/workflows/template-sync.yml
Labels: front-end, back-end, devops

docs: update app description to use full word 'Application'
  README.md
Labels: documentation, front-end, back-end

Updating out of date .env variables
  .env.example
  .github/workflows/jira-lint.yml
  .github/workflows/template-sync.yml
  README.md
Labels: documentation, front-end, back-end, devops

Normalizing the variable names so we can test the workflows Fixing JIRA variables
  .env.example
  .github/CODEOWNERS
  .github/workflows/dependabot.yml
  .github/workflows/jira-lint.yml
  .github/workflows/pr-checks.yml
  .github/workflows/template-sync.yml
  README.md
  package.json
Labels: dependencies, documentation, front-end, back-end, devops

feat: add workflow_dispatch trigger to all GitHub Actions workflows
  .github/workflows/bump-versions.yml
  .github/workflows/codeowners-validation.yml
  .github/workflows/deployment.yml
  .github/workflows/ephemeral-deployments.yml
  .github/workflows/performance.yml
  .github/workflows/pr-checks.yml
  .github/workflows/pr-clean-caches.yml
  .github/workflows/pr-labels.yml
  .github/workflows/release-drafter.yml
Labels: front-end, back-end, devops

chore: update actions/upload-artifact to v4.6.2 in GitHub workflow files
  .github/workflows/dependabot.yml
  .github/workflows/jira-lint.yml
  .github/workflows/mega-linter.yml
  .github/workflows/pr-checks.yml
Labels: front-end, back-end, devops

chore: upgrade GitHub Actions to v4 for checkout and setup-node
  .github/workflows/storybook.yml
  .github/workflows/template-sync.yml
Labels: front-end, back-end, devops

chore: remove pull request autofill workflow file from windsurf directory
  .windsurf/workflows/pull-request-create-autofill.md
Labels: documentation, front-end, back-end

Fixing action typo
  .github/workflows/mega-linter.yml
Labels: front-end, back-end, devops

Removing unnecessary label check
  .github/workflows/pr-labels.yml
Labels: front-end, back-end, devops

fix: update dependabot version patterns and streamline release drafter workflow
  .github/workflows/bump-versions.yml
  .github/workflows/dependabot.yml
  .github/workflows/pr-checks.yml
  .github/workflows/release-drafter.yml
Labels: front-end, back-end, devops

Apply suggestion from @abarrows
  .github/workflows/bump-versions.yml
Labels: front-end, back-end, devops

Apply suggestion from @abarrows
  .github/workflows/bump-versions.yml
Labels: front-end, back-end, devops

Apply suggestion from @abarrows
  .github/workflows/bump-versions.yml
Labels: front-end, back-end, devops

Apply suggestion from @abarrows
  .github/workflows/bump-versions.yml
Labels: front-end, back-end, devops

Apply suggestion from @abarrows
  .github/workflows/bump-versions.yml
Labels: front-end, back-end, devops

Apply suggestion from @abarrows
  .github/workflows/bump-versions.yml
Labels: front-end, back-end, devops

Apply suggestion from @sourcery-ai[bot]
  documentation/README.md
Labels: documentation, front-end, back-end

Apply suggestion from @sourcery-ai[bot]
  documentation/styling.md
Labels: documentation, front-end, back-end

Apply suggestion from @Copilot
  package.json
Labels: dependencies, front-end, back-end

Update Dockerfile
  Dockerfile
Labels: front-end, back-end, devops

Update .github/workflows/dependabot-automations.yml
  .github/workflows/dependabot-automations.yml
Labels: front-end, back-end, devops

refactor: update deployment workflow to use qa environment and remove ingress whitelist
  .github/workflows/deployment.yml
Labels: front-end, back-end, devops

chore: replace trivago import sort plugin with ianvs plugin
  package-lock.json
  package.json
Labels: dependencies, front-end, back-end

style: format code and documentation for improved readability
  .cspell.json
  .windsurf/workflows/pull-request-create-autofill.md
  README.md
  documentation/styling.md
  playwright.config.js
  tsconfig.json
Labels: documentation, front-end, back-end

chore: update dependencies and add npm-check scripts for dependency management
  package-lock.json
  package.json
Labels: dependencies, front-end, back-end

refactor: streamline version bumping workflow and update dependencies
  .github/workflows/bump-versions.yml
  Dockerfile
  package.json
Labels: dependencies, front-end, back-end, devops

.github/labeler.yml:

dependencies:
  - package-lock.json
  - package.json
  - "**/package-lock.json"
  - "**/*.csproj"

documentation:
  - "**/*.md"

front-end:
  - "**/*.js"
  - "**/*.js.html"
  - "**/*.json"
  - "**/*.jsx"
  - "**/*.ts"
  - "**/*.tsx"
  - "**/*.html"
  - "**/*.css"
  - "**/*.less"
  - "**/*.scss"
  - "**/*.sass"
  - "**/*.otf"
  - "**/*.eot"
  - "**/*.ttf"
  - "**/*.woff*"
  - "**/*.svg"
  - "**/*.jpg"
  - "**/*.jpeg"
  - "**/*.gif"
  - "**/*.png"
  - "**/*.ico"
  - "public/**"
  - "src/**"
  - .storybook/**
  - package.json
  - wp-content/
  - "!**/Secrets.json*"
  - "!/.vscode"
  - "!**/*.test.js"
  - "!.github/**"

back-end:
  - "**/*.cs"
  - "**/*.csproj"
  - "**/*.sln"
  - "**/**.json"
  - "bin/"
  - "**/*.rb"
  - "Rakefile"
  - "**/*.yml"
  - "**/*.ru"
  - "!**/Secrets.json*"
  - "!.github/**"

tools:
  - "/.vscode"
  - "/.devcontainer"

tests:
  - "playwright/**"
  - "**/.spec.*"
  - "**/*.test.js"
  - ".github/workflows/workflow-linter.yaml"
  - ".github/actionlint.yaml"

devops:
  - ".github/**"
  - "deployments/**"
  - "Secrets.json*"
  - "docker-compose.yml"
  - "Dockerfile"
  - ".*ignore"

# Add 'hotfix' label to any PR that is opened against the `release/*` branch
hotfix:
  - base-branch: "^release/"

breaking-change:
  - head-branch: "^breaking"

story:
  - head-branch: ["^feature", "^story", "^improvement"]

bugfix:
  - head-branch: "^bugfix"

research:
  - head-branch: "^research"

maintenance:
  - head-branch: "^maintenance"

# Add 'release' label to any PR that is opened against the `main` branch
release:
  - head-branch: "^release"
